body {
	width: 100%;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.sample-container {
	width: 64rem;
	margin: auto;
}
.sample {
	float: left;
	width: calc(42% - 4rem);
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 2rem;
	margin-bottom: 2rem;
}
.test_true {
	border: 2px solid #008200;
}
.test_true span {
	background: url('img/valid.png') transparent no-repeat;
	background-size: 100%;
	display: block;
    float: right;
    height: 4rem;
    position: relative;
    right: -50px;
    top: -4rem;
    width: 4rem;
}
.test_false {
	border: 2px solid #e60000;
}
.test_false span {
	background: url('img/false.png') transparent no-repeat;
	background-size: 100%;
	display: block;
    float: right;
    height: 4rem;
    position: relative;
    right: -50px;
    top: -4rem;
    width: 4rem;
}

.px {
	font-size:15px;
}

.relativeUnitesPt {
	width:12pt;
}

.relativeUnitesPc {
	width:12pc;
}

.relativeUnitesMm {
	width:12mm;
}

.relativeUnitesCm {
	width:12cm;
}

.relativeUnitesIm {
	width:12im;
}

.contrastKo {
	color:#FFF;
	background-color:#f47920;
}

.noFocus {
	outline:none;
}

.justify {
	text-align:justify;
}